{% extends "base.html" %}

<!-- コンテンツ -->
{% block content %}
<div class='container'>
  <div class="col-md-6 offset-md-3">
    {% for trip in trips %}
    <div class='card mt-3 mb-3 bg-light '>
      <!-- カードヘッダー -->
      <div class='card-header bg-light text-dark'>
        <a class='text-dark' href="{% url 'tabinoshiori:itinerary' pk=trip.id %}"><h1>{{ trip.title }}</h1></a>
      </div>
      <!-- カードボディー -->
      <div class='card-body'>
        <p>{{ trip.start_date }}〜{{ trip.end_date }}</p>
        {{ trip.comment }}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}