{% extends "base.html" %}
{% load static %}

<!-- コンテンツ -->
{% block content %}
<div class='container'>
  <div class="col-md-6 offset-md-3">
    <div class='card mt-3 mb-3 bg-light'>
      <!-- カードヘッダー -->
      <div class='card-header bg-light text-dark'>
        <h4>{{ title }}の旅程を登録</h4>
      </div>
      <!-- カードボディー -->
      <div class='card-body'>
        <form method="POST">
          <div>
            {% csrf_token %}
            {% for form_set in form_sets %}
            <div>
              <h5 id="date{{ forloop.counter }}">{{ dates|slice:forloop.counter|last }}</h5>
              <table id="form_table{{ forloop.counter }}" class="table table-bordered border-primary">
                <tr>
                  <th>時間</th>
                  <th>行動</th>
                </tr>
                {% for form in form_set %}
                <tr>
                  <td>
                    {{ form.start_time }}{{ form.end_time }}
                  </td>
                  <td>
                    {{ form.action }}
                  </td>
                  {{ form.date.as_hidden }}
                  {{ form.id }}
                </tr>
                {% endfor %}
              </table>
              <div>
                <button type="button" data-index="{{ forloop.counter }}" name="add{{ forloop.counter }}" id="add{{ forloop.counter }}" onclick="add(event)"> + </button>
              </div>
              {{ form_set.management_form }}
              <!--上のmanagement_formはformset使う時は絶対必要！-->
            </div>
            {% endfor %}
          </div>
          <div>
            <button type="submit">登録</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>
  function add(event){
    const index = event.target.dataset.index.toString();

    let totalManageElement = document.getElementById(`id_form_set${index}-TOTAL_FORMS`);
    let formCount = parseInt(totalManageElement.value);
    let table = document.getElementById(`form_table${index}`);

    let extraFormStartTime = document.createElement("input");
    extraFormStartTime.type = "time";
    extraFormStartTime.name = `form_set${index}-` + formCount + "-start_time";
    extraFormStartTime.id = `id_form_set${index}-` + formCount + "-start_time";
    extraFormStartTime.required = true;

    let extraFormEndTime = document.createElement("input");
    extraFormEndTime.type = "time";
    extraFormEndTime.name = `form_set${index}-` + formCount + "-end_time";
    extraFormEndTime.id = `id_form_set${index}-` + formCount + "-end_time";
    extraFormEndTime.required = true;
    

    let extraFormAction = document.createElement("input");
    extraFormAction.type = "text";
    extraFormAction.name = `form_set${index}-` + formCount + "-action";
    extraFormAction.id = `id_form_set${index}-` + formCount + "-action";
    extraFormAction.required = true;

    let extraFormDate = document.createElement("input");
    extraFormDate.type = "hidden";
    extraFormDate.name = `form_set${index}-` + formCount + "-date";
    extraFormDate.id = `id_form_set${index}-` + formCount + "-date";
    extraFormDate.value = document.getElementById(`date${index}`).innerHTML;

    let extraFormId = document.createElement("input");
    extraFormId.type = "hidden";
    extraFormId.name = `form_set${index}-` + formCount + "-id";
    extraFormId.id = `id_form_set${index}-` + formCount + "-id";


    let newRow = table.insertRow();

    let newCell = newRow.insertCell();
    newCell.appendChild(extraFormStartTime);
    newCell.appendChild(extraFormEndTime);

    newCell = newRow.insertCell();
    newCell.appendChild(extraFormAction);

    newRow.appendChild(extraFormDate);

    newRow.appendChild(extraFormId);

    formCount += 1;
    totalManageElement.value = formCount
  };
</script>

<!--どうしてもよみこんでくれないので一端コメントアウトして上に直接書く。-->
<!--
<script type="text/javascript" src="{% static 'js/form_adjust.js' %}"></script>
-->

{% endblock %}