{% extends "base.html" %}
{% load static %}

<!-- コンテンツ -->
{% block content %}
<div class='container'>
  <div class="col-md-6 offset-md-3">
    <div class='card mt-3 mb-3 bg-light'>
      <!-- カードヘッダー -->
      <div class='card-header bg-primary text-light'>
        <h4>{{ title }}の旅程を登録</h4>
      </div>
      <!-- カードボディー -->
      <div class='card-body'>
        <form method="POST">
          <div>
            {% csrf_token %}
            <table id="form_table">
              <tr>
                <th>行動</th>
                <th>日付</th>
                <th>時間</th>
              </tr>
              {% for form in form_set %}
              <tr>
                {% csrf_token %}
                <td>
                  {{ form.action }}
                </td>
                <td>
                  {{ form.date }}
                </td>
                <td>
                  {{ form.start_time }}{{ form.end_time }}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {{ form_set.management_form }}
          <!--上のmanagement_formはformset使う時は絶対必要！-->
          <div>
            <button type="submit">登録</button>
          </div>
        </form>
        <button id="add"> + </button>
        <h3>
          {{ message }}
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>
  let extraFormAction = document.createElement("input");
  extraFormAction.setAttribute("name", "{{ form.prefix }}-action");
  extraFormAction.setAttribute("type", "text");

  let extraFormDate = document.createElement("input");
  extraFormDate.setAttribute("name", "{{ form.prefix }}-date");
  extraFormDate.setAttribute("type", "date");

  let extraFormStartTime = document.createElement("input");
  extraFormStartTime.setAttribute("name", "{{ form.prefix }}-start_time");
  extraFormStartTime.setAttribute("type", "time");

  let extraFormEndTime = document.createElement("input");
  extraFormEndTime.setAttribute("name", "{{ form.prefix }}-end_time");
  extraFormEndTime.setAttribute("type", "time");

  document.querySelector("#add").addEventListener("click", () => {
    let table = document.getElementById("form_table");
    let newRow = table.insertRow();

    let newCell = newRow.insertCell();
    newCell.appendChild(extraFormAction);

    newCell = newRow.insertCell();
    newCell.appendChild(extraFormDate);

    newCell = newRow.insertCell();
    newCell.appendChild(extraFormStartTime);
    newCell.appendChild(extraFormEndTime);
  });
</script>

<!--どうしてもよみこんでくれないので一端コメントアウトして上に直接書く。-->
<!--
<script type="text/javascript" src="{% static 'js/form_adjust.js' %}"></script>
-->

{% endblock %}