{% extends "base.html" %}
{% load static %}

<!-- コンテンツ -->
{% block content %}
<div class='container'>
  <div class="col-md-6 offset-md-3">
    <div class='card mt-3 mb-3 bg-light'>
      <!-- カードヘッダー -->
      <div class='card-header bg-primary text-light'>
        <h4>{{ title }}の旅程を登録</h4>
      </div>
      <datalist id="date_list">
        {% for date in date_list %}
        <option value={{ date }}>
        {% endfor %}
      </datalist>

      <!-- カードボディー -->
      <div class='card-body'>
        <form method="POST">
          <div>
            {% csrf_token %}
            <table id="form_table">
              <tr>
                <th>行動</th>
                <th>日付</th>
                <th>時間</th>
              </tr>
              {% for form in form_set %}
              <tr>
                <td>
                  {{ form.action }}
                </td>
                <td>
                  {{ form.date }}
                  </select>
                </td>
                <td>
                  {{ form.start_time }}{{ form.end_time }}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          {{ form_set.management_form }}
          <!--上のmanagement_formはformset使う時は絶対必要！-->
          <div>
            <button type="submit">登録</button>
          </div>
        </form>
        <button id="add"> + </button>
        <h3>
          {{ message }}
        </h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let totalManageElement = document.getElementById("id_form-TOTAL_FORMS");
    let formCount = parseInt(totalManageElement.value);
    let table = document.getElementById("form_table");

    document.querySelector("#add").addEventListener("click", () => {

      let extraFormAction = document.createElement("input");
      extraFormAction.type = "text";
      extraFormAction.name = "form-" + formCount + "-action";
      extraFormAction.id = "id_form-" + formCount + "-action";
  
      let extraFormDate = document.createElement("input");
      extraFormDate.type = "date";
      extraFormDate.name = "form-" + formCount + "-date";
      extraFormDate.id = "id_form-" + formCount + "-date";
  
      let extraFormStartTime = document.createElement("input");
      extraFormStartTime.type = "time";
      extraFormStartTime.name = "form-" + formCount + "-start_time";
      extraFormStartTime.id = "id_form-" + formCount + "-start_time";
  
      let extraFormEndTime = document.createElement("input");
      extraFormEndTime.type = "time";
      extraFormEndTime.name = "form-" + formCount + "-end_time";
      extraFormEndTime.id = "id_form-" + formCount + "-end_time";

      let newRow = table.insertRow();

      let newCell = newRow.insertCell();
      newCell.appendChild(extraFormAction);

      newCell = newRow.insertCell();
      newCell.appendChild(extraFormDate);

      newCell = newRow.insertCell();
      newCell.appendChild(extraFormStartTime);
      newCell.appendChild(extraFormEndTime);

      formCount += 1;
      totalManageElement.value = formCount
    });
  });
</script>

<!--どうしてもよみこんでくれないので一端コメントアウトして上に直接書く。-->
<!--
<script type="text/javascript" src="{% static 'js/form_adjust.js' %}"></script>
-->

{% endblock %}