{% extends "base.html" %}

<!-- コンテンツ -->
{% block content %}
<div class='container'>
  <div class="col-md-6 offset-md-3">
    <div class='card mt-3 mb-3 bg-light'>
      <!-- カードヘッダー -->
      <div class='card-header bg-primary text-light'>
        <h4>{{ title }}</h4>
        <h6>{{ start_date }}~{{ end_date }}</h6>
      </div>

      <!-- カードボディー -->
      <div class='card-body'>
        {% for itinerarys in itinerarys_list %}
        <h5>{{ dates|slice:forloop.counter|last }}</h5>
        <table>
          <thead>
            <tr>
              <td>
                開始時間
              </td>
              <td>
                終了時間
              </td>
              <td>
                行動
              </td>
            </tr>
          </thead>
          <tbody>
            {% for itinerary in itinerarys %}
            <tr>
              <td>
                {{ itinerary.start_time }}
              </td>
              <td>
                {{ itinerary.end_time }}
              </td>
              <td>
                {{ itinerary.action }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
        <a href="{% url 'tabinoshiori:registeritinerary' pk=id %}">旅程を登録する</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}